In [28]:
# 10.11.10

In [36]:
from collections import namedtuple
from itertools import groupby

Person = namedtuple('Person', ['name', 'age', 'height'])

persons = [
    Person('Tim', 63, 193), Person('Eva', 47, 158),
    Person('Mark', 71, 172), Person('Alex', 45, 193),
    Person('Jeff', 63, 193), Person('Ryan', 41, 184),
    Person('Ariana', 28, 158), Person('Liam', 69, 193)
]

persons.sort(key=lambda x: (x.height, x.name))

for height, group in groupby(persons, key=lambda x: x.height):
    names = ', '.join(person.name for person in group)
    print(f"{height}: {names}")

158: Ariana, Eva
172: Mark
184: Ryan
193: Alex, Jeff, Liam, Tim

In [37]:
# 10.11.11

In [64]:
from collections import namedtuple
from itertools import groupby

Student = namedtuple('Student', ['surname', 'name', 'grade'])

students = [Student('Гагиев', 'Александр', 10), Student('Дедегкаев', 'Илья', 11), Student('Кодзаев', 'Георгий', 10),
            Student('Набокова', 'Алиса', 11), Student('Кораев', 'Артур', 10), Student('Шилин', 'Александр', 11),
            Student('Уртаева', 'Илина', 11), Student('Салбиев', 'Максим', 10), Student('Капустин', 'Илья', 11),
            Student('Гудцев', 'Таймураз', 11), Student('Перчиков', 'Максим', 10), Student('Чен', 'Илья', 11),
            Student('Елькина', 'Мария', 11),Student('Макоев', 'Руслан', 11), Student('Албегов', 'Хетаг', 11),
            Student('Щербак', 'Илья', 10), Student('Идрисов', 'Баграт', 11), Student('Гапбаев', 'Герман', 10),
            Student('Цивинская', 'Анна', 10), Student('Туткевич', 'Юрий', 11), Student('Мусиков', 'Андраник', 11),
            Student('Гадзиев', 'Георгий', 11), Student('Белов', 'Юрий', 11), Student('Акоева', 'Диана', 11),
            Student('Денисов', 'Илья', 11), Student('Букулова', 'Диана', 10), Student('Акоева', 'Лера', 11)]

students.sort(key=lambda x: x.name)
name = groupby(students, key=lambda x: x.name)
saved_data = [(key, list(group)) for key, group in name]
max_result = max(saved_data, key=lambda tpl: len(tpl[1]))
print(max_result[0])

Илья

In [65]:
# 10.11.12

In [15]:
from itertools import groupby

grouped = groupby(sorted(input().split(), key=len), key=len)

for length, words in grouped:
    print(f'{length} -> {", ".join(sorted(words))}')

 hi never here my blue

2 -> hi, my
4 -> blue, here
5 -> never

In [65]:
# 10.11.13

In [41]:
from itertools import groupby

tasks = [('Отдых', 'поспать днем', 3),
        ('Ответы на вопросы', 'ответить на вопросы в дискорде', 1),
        ('ЕГЭ Математика', 'доделать курс по параметрам', 1),
        ('Ответы на вопросы', 'ответить на вопросы в курсах', 2),
        ('Отдых', 'погулять вечером', 4),
        ('Курс по ооп', 'обсудить темы', 1),
        ('Урок по groupby', 'добавить задачи на программирование', 3),
        ('Урок по groupby', 'написать конспект', 1),
        ('Отдых', 'погулять днем', 2),
        ('Урок по groupby', 'добавить тестовые задачи', 2),
        ('Уборка', 'убраться в ванной', 2),
        ('Уборка', 'убраться в комнате', 1),
        ('Уборка', 'убраться на кухне', 3),
        ('Отдых', 'погулять утром', 1),
        ('Курс по ооп', 'обсудить задачи', 2)]

sorted_tasks = sorted(tasks, key=lambda x: (x[0], x[2]))
group = groupby(sorted_tasks, key=lambda x: x[0])

for case, work in group:
    print(f'{case}:')
    for _, task, num in work:
        print(f'\t{num}. {task}')   
    print()

In [65]:
# 10.11.14

In [92]:
from itertools import groupby

def group_anagrams(words):
    return [tuple(value) for key, value in groupby(sorted(words, key=sorted), key=sorted)]

In [65]:
# 10.11.15

In [102]:
from itertools import groupby

def ranges(numbers):
    result = []
    for _, group in groupby(enumerate(numbers), key=lambda x: x[1] - x[0]):
        group = list(group)
        result.append((group[0][1], group[-1][1]))
    return result